[Unit]
Description=Adafruit WebIDE
After=network.target

[Service]
ExecStart=/home/pi/start-app.sh
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
